<% @notifications_by_month.each do |month, notifications|%>
  <%= render "notifications", title: month, notifications: notifications %>
<%end%>
<% if @notifications_by_month.size.zero? %>
  <h2 class="mt-3 text-center">
    У вас ще нема сповіщень !
    <br />
    Долучіться до <%= link_to "проекту", projects_path%> щоб отримувати їх :)
  </h2>
<%end%>
